<meta property="og:url" content="{{ ''|page }}">
<meta property="og:image" content="{{ 'assets/dist/static/sherlin-opengraph.png'|theme }}">
<meta property="og:description" content="{{ this.page.meta_description }}">
<meta property="og:title" content="{{ this.page.meta_title }}">
<meta property="og:site_name" content="sandrine herlin">

<meta itemprop="name" content="{{ this.page.meta_title }}">
<meta itemprop="description" content="{{ this.page.meta_description }}">
<meta itemprop="image" content="{{ 'assets/dist/static/sherlin-schema.png'|theme }}">

<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{{ this.page.meta_title }}">
<meta name="twitter:description" content="{{ this.page.meta_description }}">
<meta name="twitter:image" content="{{ 'assets/dist/static/sherlin-twittercard.png'|theme }}">
